* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#3f5efb, #fe486d);
    background-attachment: fixed;
    height: 100vh;
}

/* css geral */
button {
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* css pagination */
.background-pagination {
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.pagination-header {
    display: flex;
    justify-content: space-between;
}

.pagination-header img {
    width: 50px;
    height: 50px;
    margin: 30px 30px;
}

.pagination-header .main-navigation-header {
    width: 100%;
    text-align: right;
}

.main-navigation-header-navbar-responsive li,
.pagination-footer-networking-icons li {
    list-style: none;
    display: inline-block;
    margin: 35px 0;
    margin-right: 30px;
    font-weight: bold;
}

.main-navigation-header-navbar-responsive li a,
.pagination-footer-networking-icons li a img {
    text-decoration: none;
    cursor: pointer;
}

.main-navigation-header-navbar-responsive li a:hover {
    color: #f97791;
}

.main-column-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.primary-column-section {
    padding: 10%;
    width: 40%;
    position: relative;
}

.primary-column-section h2 {
    font-size: 54px;
}

.primary-column-section h3 {
    font-size: 30px;
    color: #707070;
    font-weight: bold;
    margin: 20px 0;
}

.primary-column-section p {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: bold;
}

.primary-column-section h4 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 30px;
}

.primary-column::before {
    background: linear-gradient(#fe486d, #f97791);
    width: 10px;
    height: 40%;
    content: "";
    position: absolute;
    margin-left: -20px;
}

#button-buy {
    background-color: #fe486d;
    outline: none;
    padding: 10px;
    cursor: pointer;
    animation-name: changepaddingborder;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
}

#button-buy:hover {
    background-color: #3f5efb;
}

@keyframes changepaddingborder {
    0% {
        padding-right: 0%;
        padding-left: 0%;
        border: solid 2px red;
    }

    25% {
        padding-right: 5%;
        padding-left: 5%;
        border: solid 2px blue;
    }

    75% {
        padding-right: 10%;
        padding-left: 10%;
        border: solid 2px yellow
    }

    100% {
        padding-right: 0%;
        padding-left: 0%;
        border: solid 2px red;
    }
}

.secondary-column-section {
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
}

.secondary-column-section img.img-left {
    width: 80%;
    animation-name: transform;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    z-index: 2;
    transform: scaleX();
}

@keyframes transform {
    0% {
        -webkit-transform: skew(0deg);
    }

    25% {
        -webkit-transform: skew(10deg);
    }

    50% {
        -webkit-transform: skew(-10deg);
    }

    75% {
        -webkit-transform: skew(10deg);
    }

    100% {
        -webkit-transform: skew(0deg);
    }
}

.background-controller-img {
    position: absolute;
    background-color: #f97791;
    width: 80%;
    height: 100%;
    right: 0;
    top: 0;
    border-radius: 20px 0 0 20px;
    z-index: 1;
}

.btn-click-add img {
    width: 40px;
    height: 40px;
}

.pagination-footer img {
    width: 20px;
    height: 20px;
    margin: 0px 25px;
}

.pagination-footer-networking-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsividade */
#responsive-button {
    float: right;
}

@media (max-width: 595px) {
    .main-column-section {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    #responsive-button {
        display: block;
    }

    .main-navigation-header-navbar-responsive {
        display: none;
    }

    .main-navigation-header-navbar-responsive li {
        display: block;
        position: relative;
        margin: 10px;
        left: -40px;
    }

    .secondary-column-section {
        width: 100%;
        margin: 30px 0;
    }

    .primary-column-section {
        width: 100%;
    }

    .background-pagination {
        width: 100%;
        border-radius: 0%;
    }
}

@media (min-width:595px) {
    #responsive-button {
        display: none;
    }
}